// Base
@use 'reset';
@use 'typography';

// Abstracts
@use "../abstracts/variables";
@use "../abstracts/mixins";

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

.header {
    z-index: 2;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2.5rem 1.5rem 1.5rem;
    background-color: #fff;

    @include mixins.tablet-up {
        padding: 2.5rem 4rem 1.5rem;
    }

    .logo-container {
        z-index: 3;

        .logo {

            &.active {
                .logo-text {
                    fill: #fff;
                }

                .circle-fill {
                    fill: #fff;
                }

                .icon-fill {
                    fill: hsla(231, 84%, 7%, 0.85);
                }
            }
        }
    }
    
    .close-menu-button {
        z-index: 3;
        position: absolute;
        top: 2.25rem;
        right: 1.5rem;
        cursor: pointer;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @include mixins.desktop-up {
            justify-content: flex-end;
        }

        .mobile-menu {
            position: absolute;
            top: 2.25rem;
            right: 1.5rem;
            cursor: pointer;

            @include mixins.desktop-up {
                display: none;
            }
        }
        
        .nav-list {
            z-index: 2;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100vh;
            padding: 8rem 1.5rem 0;
            background-color: hsla(231, 84%, 7%, 0.85);

            @include mixins.desktop-up {
                position: static;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;
                width: auto;
                height: auto;
                gap: 2rem;
                padding: 0;
                opacity: 1;
                visibility: visible;
                background-color: transparent;
            }

            .nav-item {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                border-bottom: solid 2px #ffffff25;
                width: 100%;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                @include mixins.desktop-up {
                    padding: 1.5rem 0;
                    border-bottom: none;
                }

                &:first-child {
                    border-top: solid 2px #ffffff25;
                }

                &.login-item {
                    margin-top: 1.5rem;
                    border-bottom: none;
                    border-radius: 0.25rem;
                    padding: 1rem 1rem;
                    border: solid 2px #ffffff;

                    @include mixins.desktop-up {
                        margin-top: 0;
                        padding: 0;
                    }
                }

                .nav-link {
                    color: #dddddd;
                    text-decoration: none;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    letter-spacing: 0.15rem;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;

                    @include mixins.desktop-up {
                        color: #252525;
                        font-size: 0.785rem;
                        text-transform: none;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }

                .login-button {
                    background-color: transparent;
                    color: #dddddd;
                    border: none;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    letter-spacing: 0.15rem;
                    font-weight: 500;
                    cursor: pointer;
                    
                    @include mixins.desktop-up {
                        background-color: var(--Red-400);
                        color: #fff;
                        padding: 0.75rem 2rem;
                        border-radius: 0.25rem;
                        font-size: 0.785rem;
                        text-transform: none;
                        font-weight: 500;
                        text-transform: uppercase;
                    }
                }
            }

            .social-media {
                z-index: 3;
                position: absolute;
                bottom: 2rem;
                left: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                width: 100%;

                @include mixins.desktop-up {
                    display: none;
                }
        
                a {
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    padding: 0 1.5rem;
    gap: 2rem;

    @include mixins.tablet-up {
        gap: 2rem;
    }

    @include mixins.desktop-up {
        gap: 4rem;
    }

    // Hero section
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 8rem;

        @include mixins.tablet-up {
            flex-direction: column;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 6rem;
        }
        @include mixins.desktop-up {
            flex-direction: row-reverse;
            justify-content: space-between;
            gap: 1rem;
            margin-top: 12rem;
            max-width: 64rem;
        }

        .hero-image-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            .hero-image {
                flex-shrink: 0;
                width: 100%;
                height: auto;
                max-width: 32rem;
                z-index: 1;
                display: block;
                object-fit: contain;
                object-position: center;
            }

            .hero-blob {
                position: absolute;
                bottom: 0;
                right: -1.5rem;
                border-radius: 200rem 0 0 200rem;
                min-height: 16rem;
                width: 24rem;
                background-color: var(--Blue-600);

                @include mixins.desktop-up {
                    width: 90%;
                    right: -16rem;
                    border-radius: 200rem;
                }
            }
        }

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            width: 100%;
            padding: 4rem 0;
            text-align: center;

            @include mixins.mobile-up {
                align-items: flex-start;
                text-align: left;
                padding: 4rem 3rem;
            }

            .hero-buttons {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                width: 100%;

                @include mixins.mobile-up {
                    justify-content: flex-start;
                }
            }
        }
    }
    
    // Features section
    .features-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        width: 100%;

        @include mixins.tablet-up {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        .content-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            text-align: center;
            max-width: 32rem;           
        }

        .features-tabs-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 1rem;

            .features-tab-group {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                @include mixins.mobile-up {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                
                .feature-tab {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    border-top: solid 2px #00000010;
                    cursor: pointer;
                    transition: color 0.3s ease-out;

                    &:hover {
                        color: var(--Red-400);
                        transition: color 0.3s ease-in;
                    }

                    @include mixins.mobile-up {
                        width: 100%;
                        max-width: 16rem;
                        border-top: none;
                        border-bottom: solid 2px #00000010;
                    }
    
                    &:last-child {
                        border-bottom: solid 2px #00000010;
                    }

                    .tab-selector {
                        padding: 1.25rem;
                        width: fit-content;
                        border-bottom: solid 2px transparent;
                    }

                    &.active {

                        &:hover {
                            color: black;
                        }

                        .tab-selector {
                            border-bottom: solid 2px var(--Red-400);
                        }
                    }
                }
            }
        }

        .features-content-container {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 100%;
            
            .blob-left {
                position: absolute;
                left: -1.5rem;
                top: 5rem;
                width: 50%;
                min-height: 14rem;
                background-color: var(--Blue-600);
                border-radius: 0 200rem 200rem 0; 
                z-index: -1;

                @include mixins.tablet-up {
                    left: -1.5rem;
                    bottom: -1rem;
                    min-height: 8rem;
                    width: 40%;
                }

                @include mixins.desktop-up {
                    bottom: 2rem;
                    min-height: 20rem;
                    width: 40%;
                }
            }

            .feature-content {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4rem;
                width: 100%;
                max-width: 64rem;
                transition: opacity 0.6s ease-in-out;

                @include mixins.tablet-up {
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                }

                &.active {
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    transition: opacity 0.6s ease-in-out;
                }

                .features-image {
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    height: auto;
                    max-height: 24rem;
                    object-fit: contain;

                    @include mixins.tablet-up {
                        width: 50%;
                    }
                }
                
                .feature-content-text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                    text-align: center;

                    @include mixins.tablet-up {
                        align-items: flex-start;
                        text-align: left;
                        width: 50%;
                        max-width: 24rem;
                    }

                    /* Specific autofit button for these elements. */
                    button {

                        @include mixins.tablet-up {
                            width: fit-content;
                        }
                    }
                }
            }
        }
    }

    // Extensions section
    .extension-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 1rem;
        gap: 2rem;
        margin-top: 2rem;

        @include mixins.tablet-up {
            padding: 2rem 1rem;
        }

        .content-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            text-align: center;
            max-width: 40rem;           
        }

        .extension-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            width: 100%;
            max-width: 64rem;

            @include mixins.tablet-up {
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                margin-top: 3rem;
            }

            .extension-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 3rem 1rem 1.5rem;
                gap: 2rem;
                width: 100%;
                max-width: 32rem;
                text-align: center;
                border-radius: 1rem;
                background-color: #fff;
                box-shadow: 0 0 1rem #00000015;

                @include mixins.tablet-up {
                    width: 100%;
                    max-width: 18rem;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;

                    &:first-child {
                        margin-top: clamp(-4rem, 5vw, -8rem);
                    }

                    &:last-child {
                        margin-bottom: clamp(-4rem, 5vw, -8rem);
                    }
                }

                .extension-card__content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    width: 100%;

                    .extension-card__description {
                        color: #00000065;
                        font-size: 1rem;
                    }
                }

                button {
                    margin-top: 1rem;
                    width: 100%;
                }
            }
        }
    }

    .faq-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2.5rem 1rem 4rem;
        gap: 2rem;

        @include mixins.tablet-up {
            padding: 5rem 1rem;
            max-width: 32rem;
        }

        .primary {
            width: max-content;
        }
    
        .content-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            text-align: center;
            max-width: 40rem;
        }

        .faq-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .faq-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: 1rem 0;
                border-bottom: solid 2px #00000010;
                max-width: 48rem;

                .faq-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    gap: 1rem;
                    cursor: pointer;

                    .chev-down {
                        transform: rotate(0deg);
                        transition: transform 0.4s ease-in;
                    }
                }

                .faq-answer {
                    color: #00000075;
                    margin-top: 0;
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s ease-in-out, margin-top 0.2s ease-in-out;
                }

                &:hover {
                    .faq-header {
                        color: var(--Red-400);
                        transition: color 0.3s ease-in;
                    }
                }

                &.active {
                    .faq-header {
                        .chev-down {
                            transform: rotate(180deg);
                            transition: transform 0.4s ease-out;
                        }
                    }

                    .faq-answer {
                        max-height: max-content;
                        overflow: hidden;
                        margin-top: 0.5rem;
                        transition: max-height 0.4s ease-in-out, margin-top 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}

// Footer Section Starts Here
.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem 1.5rem;
        gap: 1rem;
        width: 100%;
        text-align: center;
        color: #ffffff;
        background-color: var(--Blue-600);

        .footer-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 100%;
            max-width: 24rem;
        }

        .footer-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.75rem;
            width: 100%;
            max-width: 24rem;

            input {
                width: 100%;
                padding: 1rem 1rem;
                border-radius: 0.5rem;
                border: solid 2px #00000010;
                background-color: #ffffff;
                color: #252525;
                font-size: 1rem;
                font-weight: 500;
                transition: all 0.3s ease-in-out;

                &:focus {
                    outline: none;
                    box-shadow: 0 0 0.5rem var(--Blue-600);
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .footer-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: #2a3057;

        @include mixins.tablet-up {
            flex-direction: row;
            padding: 2rem 4rem;
        }

        .logo {
            .logo-text {
                fill: #fff;
            }
    
            .circle-fill {
                fill: var(--Blue-600);
            }
    
            .icon-fill {
                fill: white;
            }
        }

        .footer-nav-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            width: 75%;

            @include mixins.tablet-up {
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                gap: 2rem;
            }
            
            a {
                color: #ffffff;
                margin: 0.5rem 0;
                text-decoration: none;
                font-size: 1rem;
                font-weight: 300;
                transition: all 0.3s ease-in-out;
                text-transform: uppercase;
                letter-spacing: 0.08rem;

                &:hover {
                    color: var(--Red-400);
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .social-media {
            display: flex;
            flex-direction: row;
            align-items: enter;
            justify-content: center;
            gap: 1.5rem;
        }
    }
}
